extends ../layout/head.pug

block contenido

        div(class="container mt-5")
            div(class="alert alert-danger") Datos de ingreso inválidos
            a(href="/" class="btn btn-info mx-auto mt-10 text-white") Back to Form
